<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Principal</title>
  <!-- Framework Materialize CSS -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container vh100 flex-lower">
    <div class="row ">
      <a href="registry.html" class="waves-effect waves-light btn item-flex-center btn-rg">Registrarse</a>
      <a href="login.html" class="waves-effect waves-light btn item-flex-center btn-is">Iniciar Sesión</a>
    </div>
  </div>
  <!-- Libreria JQuery  -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- JS Materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- JS Personalizado -->
  <script src="../js/main.js"></script>
</body>
</html>